@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
// @import "utils/reset";

html {
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: $mainFontColor;
}

button {
    text-transform: uppercase;
    color: $mainFontColor;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}




._container {
    max-width: $mw + px;
    margin: 0 auto;
    padding: 0px 10px;
    @media (max-width: $mw1+px) {
        max-width: 970px;
    }

    @media (max-width: $mw2+px) {
        max-width: 750px;
    }

    @media (max-width: $mw3+px) {
        max-width: none;
        padding: 0 10px;
    }
}


// Подключение своих CSS/SCSS файлов
// @import "../libs/css/"
// @import "modules/"