
@import "mixins";

/*
  Ð¡hoose one of the ways:
    1. handle menthod,
    2. use mixin;
*/


/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/


// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");


// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);

//Google Fonts
//&subset=cyrillic-ext

